<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center footer-text contenu-footer">
				<p>© {{ site.time | date: '%Y' }} <a href="contact">Suzanne Himmelberger</a> ❧
				Webmaster <a href="mailto:nicolas.jeanmonod@bluewin.ch">Nicolas Jeanmonod</a></p>
			</div>
		</div>
	</div>
</footer>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ thisbaseurl }}/assets/js/mousetrap-1.5.3.min.js"></script>
<script src="assets/js/targetBlank.js"></script>
<script type="text/javascript">
jQuery( document ).ready( function( $ ) {
	// fade-in-on-load
	$( ".fade-in-on-load" ).each( function() {
		$( this ).fadeIn( 1000 );
	});
	// Menu Toggle Script
	$( "#menu-toggle" ).click( function( e ) {
		e.preventDefault();
		$( "#custom-menu" ).toggleClass( "toggled" );
	});
});

// Navigation page suivante ou précédente avec les flèches gauche-droite du clavier.
Mousetrap.bind( 'left',  function(e) { navigate_prev_page(); });
Mousetrap.bind( 'right', function(e) { navigate_next_page(); });
function navigate_next_page() {
	var next_page = $( ".bouton-suiv" ).first().attr( "href" );
	// console.log( next_page );
	window.location.href = next_page;
}
function navigate_prev_page() {
	var prev_page = $( ".bouton-prec" ).first().attr( "href" );
	// console.log( prev_page );
	window.location.href = prev_page;
}

</script>
