---
layout: pretty-print-basic
---
<html lang="{{ site.locale }}">
{% include head.liquid %}
<body class="theme-invert">
{% include analyticstracking.liquid %}
{% include facebook-sdk.liquid %}
{% include navigation.liquid %}
{{ content }}
{% include footer.liquid %}
</body>
</html>
